<div>
  <h1>Carrito</h1>
  <div class="cart-container">
    {{#each carts}}
      {{#with products}}
        <div class="master-container">
          <div class="cart-card cart">
            <label class="title">Tu carrito</label>
            <div class="products">
              <div class="product">
                <div>
                  <img src="{{this.thumbnail}}" alt="{{this.description}}" />
                </div>
                <div>
                  <span>{{this.title}}</span>
                  <p>{{this.description}}</p>
                </div>
                <div class="quantity">
                  <button>
                    <svg
                      fill="none"
                      viewBox="0 0 24 24"
                      height="14"
                      width="14"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#47484b"
                        d="M20 12L4 12"
                      ></path>
                    </svg>
                  </button>
                  <label>{{this.quantity}}</label>
                  <button>
                    <svg
                      fill="none"
                      viewBox="0 0 24 24"
                      height="14"
                      width="14"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        stroke="#47484b"
                        d="M12 4V20M20 12H4"
                      ></path>
                    </svg>
                  </button>
                </div>
                <label class="price small">{{this.price}}</label>
              </div>
            </div>
          </div>

          <div class="cart-card checkout">
            <label class="title">Checkout</label>
            <div class="details">
              <span>Your cart subtotal:</span>
              <span>{{total}}</span>
            </div>
            <div class="checkout--footer">
              <label class="price"><sup>$</sup>{{total}}</label>
              <button class="checkout-btn">Checkout</button>
            </div>
          </div>
        </div>
      {{/with}}
    {{/each}}
  </div>
</div>