<main class="main-products">
  <h1>Nuestros Productos</h1>

  <div class="options-container">
    <form class="filters-form">
      <select
        class="selects-field"
        name="category"
        id="categoryFilter"
        onchange="applyFilters()"
      >
        <option value="">Filtrar por categoría</option>
        <option value="all">Todas las categorías</option>
        {{#each uniqueCategories}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>

      <select
        class="selects-field"
        name="availability"
        id="availabilityFilter"
        onchange="applyFilters()"
      >
        <option value="all">Todas las disponibilidades</option>
        <option value="available">Disponible</option>
        <option value="unavailable">No disponible</option>
      </select>

      <select
        class="selects-field"
        name="sort"
        id="sortFilter"
        onchange="applyFilters()"
      >
        <option value="">Ordenar por:</option>
        <option value="asc">Precio Ascendente</option>
        <option value="desc">Precio Descendente</option>
      </select>
      <button type="button" onclick="resetFilters()">
        Reiniciar Filtros
        <svg
          width="20px"
          height="20px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.00003 12C6.00003 8.67198 8.64024 6 11.8655 6C14.03 6 15.9294 7.20124 16.9464 9L15 9L15 10.5L19.5 10.5L19.5 6L18 6L18 7.84807C16.6827 5.83414 14.4311 4.5 11.8655 4.5C7.78348 4.5 4.50003 7.87217 4.50003 12L6.00003 12Z"
            fill="#080341"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M18 12C18 15.328 15.3598 18 12.1346 18C9.97007 18 8.0706 16.7988 7.05359 15L9.00003 15L9.00003 13.5L4.50003 13.5L4.50003 18L6.00003 18L6.00003 16.1519C7.31734 18.1659 9.56889 19.5 12.1346 19.5C16.2165 19.5 19.5 16.1278 19.5 12L18 12Z"
            fill="#080341"
          />
        </svg>
      </button>
    </form>

    <a href="/create">
      <button class="card-button" id="add-product-button">
        Agregar producto
      </button>
    </a>

    <div class="pagination">
      <div class="pagination-info">
        <span>Página {{page}} de {{totalPages}}</span>
      </div>
      <div class="pagination-links">
        {{#if hasPrevPage}}
          <a
            href="?page={{prevPage}}&limit={{limit}}&sort={{sort}}&category={{category}}"
          >Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
          <a
            href="?page={{nextPage}}&limit={{limit}}&sort={{sort}}&category={{category}}"
          >Siguiente</a>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="products-container">
    {{#each products}}
      <div class="card">
        <a href="/products/{{this._id}}">
          <div class="card-img">
            <img class="img-size" src="{{this.thumbnail}}" alt="" />
          </div>
        </a>
        <div class="card-info">
          <a href="/products/{{this._id}}">
            <p class="text-title">{{this.title}}</p>
          </a>
          <p class="text-body">{{this.description}}</p>
        </div>
        <div class="card-footer">
          <span class="text-title">${{this.price}}</span>
          <a href="/products/{{this._id}}">
            <div class="card-button">
              <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 5L19 12H7.37671M20 16H8L6 3H3M16 5.5H13.5M13.5 5.5H11M13.5 5.5V8M13.5 5.5V3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</main>

<script src="../public/js/filters.js"></script>